.canales-main-container {
  margin-top: 10px;
  width: 100%;
  height: auto;
  min-height: 550px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f6f9;
  border: 1px solid #ff3900;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.canales-main-titulo {
  margin: 10px;
  max-width: 500px;
  border-bottom: 3px solid grey;
}
.canales-main-form {
  margin: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.canales-form-select {
  width: 170px;
  height: 30px;
  font-size: 16px;
}
.canales-form-label {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 30px;
  font-weight: 100;
}
.canales-form-input {
  width: 160px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.canales-main-grillaFavoritos {
  display: grid;
  grid-template-columns: repeat(7, 130px);
  grid-template-rows: auto;
}
.canales-linea-favoritos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
}

.form-submit {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border: 2px solid #ff3900;
  border-radius: 5px;
  background-color: #f5f6f9;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition-duration: 0.4s;
}
.form-submit:hover {
  cursor: pointer;
  color: white;
  background-color: #ff3900;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.24),
    0 4px 4px 0 rgba(0, 0, 0, 0.19);
}
.form-submit:active {
  cursor: pointer;
  color: white;
  background-color: #ff3900;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
