
.header-container{
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #FF3900;
  font-family: Roboto,sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.header-container h1{
  margin-right: 150px;
  color: white
}
.header-container h1 span{
  color: black;
  margin-left: 20px;
}
