.matriz-main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.matriz-main-container {
  margin-top: 10px;
  width: 70%;
  height: auto;
  min-height: 550px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f6f9;
  border: 1px solid #ff3900;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.matriz-main-titulo {
  margin: 10px;
  max-width: 650px;
  border-bottom: 3px solid grey;
}
.matriz-main-form {
  margin: 10px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.matriz-select-zona {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.matriz-select-zona-titulo {
  margin-bottom: 10px;
  max-width: 100%;
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.matriz-select-vwallNCS {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.matriz-select-perimetro {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.matriz-select-barra {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.matriz-select-rack {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.matriz-select-zonas {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.matriz-select-zona {
  margin-bottom: 1.5rem;
}

.matriz-submit-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0;
}

.matriz-select {
  width: 100px;
  margin-bottom: 20px;
  margin-right: 16px;
  height: 30px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
